/*custom font and colors*/ 

body { background: rgb(238, 238, 238);
	color: rgb(34, 40, 49);
	font-family: "Faustina", serif;
	font-size: 18px;
	}
h1 { color: rgb(57, 62, 70); font-size: 35px;} 
h2 {color: rgb(57, 62, 70); font-size: 23px;}
h1, h2 {font-family: "Roboto Flex", sans-serif;}

a {text-decoration: none; color: rgb(0, 173, 181);}

a:hover { color: red; }




/* custom desgn wth class*/ 

.container { 
width: 700px;
margin: 40px auto;
 }	

@media (max-width: 750px)
{
	.container {
		width: 600px;
	}
}

@media (max-width: 500px)
{
	.container {
		width: 400px;
	}
}



 .card-white {

 background-color: white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
 border-radius: 4px;
 margin: 20px 0px ;
 text-align: center;
 }

 .img-circle {

 	border-radius: 50%;
 }

 .btn-grey {
 	background-color: rgb(0, 173, 181);
 	color: white;
 	padding: 10px 15px;
 	border-radius: 4px;
 }
 .btn-grey:hover { 
 	background-color: royalblue;
 	color: white;
  }

  .list-inline {
  	list-style: none;
  	text-align: center;
  	padding-left: 0px;
  }

  .list-inline li { 
display: inline;
padding: 10px;
   }

.list-inline i { 
font-size:50px;
color:rgb(0, 173, 181)
}

#intro p { 
margin-bottom: 50px;
 }




